*{
    margin: 0;
    padding: 0;
}
#dad{
  flex-direction: column;
  margin: 0;
}
.homepage{
    background-image: url(llll.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    flex-direction: column;
}

#momtxt{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    padding: 10%;
}

.mainpage{
    background-color: rgb(10, 10, 11);
    display: flex;
    justify-content: center;
    overflow-y: auto;
}
.card{
    text-align: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 70px;

}
.maintxt{
    color: rgb(176, 125, 57);
    font-weight: 200;
    width: 400px;
}
#tittlemain{
   color: azure;
}
.cards {
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 300px;
    background-color: aliceblue;
  }

    
  
.page3{
    background-color: rgb(29, 27, 27);
    display:flex;
    justify-content: center;
    overflow-y: auto;


}
.project{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;

}
#box{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;
}
.boxi{
    height: 80px;
    width: 120px;
    background-color: rgb(46, 50, 46);
}
#protitle{
    color: azure;
    display: flex ;
    justify-content: center;
    margin-top: 20px;
}

#img{
    height: 200px;
    width: 200px;
    overflow: none; 
}

#txtx
{
    display: flex;
    flex-direction: column;
    gap: 0px;
    
}
#txt1{
margin-left: 80px;
color: rgb(249, 250, 250);
font-family:  monospace;
font-weight: 300;

}
#txt2{
color: rgb(247, 180, 80);
font-size: 50px;
margin:auto;
font-family: 'Courier New', Courier, monospace;
font-weight: 600;

}
#txt3{
color: rgb(252, 252, 252);
font-family: monospace;
margin:auto;
font-weight: 40px;

}
.page4{
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0px; 
    overflow-y: auto;
    width: 100%;
}
.navtxt{
    color: white;
font-family:  monospace;
font-size: 15px;
text-decoration: none;

}
    
#navbar{
    height: 20px;
    background-color: black;
    display: flex;
    gap: 40px;
    padding: 20px;
    position:fixed;
    width: 100%;
    justify-content: flex-end;
    top: 0;
}
.lala{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: rgba(187, 108, 6, 0.2);
    backdrop-filter:blur(200px);
    box-shadow: 0 0 50px rgb(249, 145, 48);
}
#button{
    width: 80px;
    height: 30px;
    margin: auto;
   background-color: rgb(250, 183, 83);
   border-radius: 21px;
   border: none;
   margin-top: 20px;

}
#contact{
    display: flex;
   gap: 80px;
   margin-bottom: 30px;
   flex-flow: row;
   text-align: right;

}
#contactt{
    font-weight: 100;
    font-size: 20px;
    justify-content: center;
     display: flex;
     padding: 1px;
     color: rgb(245, 241, 237);
     margin: auto;
     margin-top: 10px;
}
.icon{
    display: flex;
    justify-content:space-between;
    align-items:center;   
    gap: 70px;
    margin-top: 4em;
     border-radius: 10px;
     margin: auto;
    
}

.fa-github{
   color: rgb(254, 252, 252); 
   font-size: 30px;
}
.fa-telegram{
    color: rgb(250, 248, 248); 
    font-size: 30px;
}
.fa-envelope{
    color: rgb(247, 245, 245); 
    font-size: 30px; 
}
.fa-instagram{
    color: rgb(253, 252, 252); 
    font-size: 30px;  
}
.fa-phone{
    color: rgb(252, 252, 252); 
    font-size:30px;
}
.momcard{
    color: rgb(19, 44, 44);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
    }
 
    .cardi {
        width: 200px;
        gap: 50px;
        height: 200px;
        border: none;
        background-color: #1c1203;
       flex: 0 0 auto;
       margin-top: 4em;
       overflow-x: none;
       border-radius: 10px;
    }
    .navtxt.active {
        background-color: #f00; /* Set the background color to red for the active link */
        color: #fff; /* Set the text color to white for the active link */
      }